services:
  pcinn-backend:
    build:
      context: ./docker
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "3000:3000"
    environment:
      - FASTAPI_URL=http://pcinn-backend:8000
    depends_on:
      - pcinn-backend
    restart: unless-stopped
